# Basico / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Secrets / env / certs
.env
.env.*
*.key
*.pem
*.pfx
*.p12
*.crt
*.csr

# Logs / temp
*.log
tmp/
temp/

# Docker volumes / data (pesado)
**/data/
**/db_data/
**/mariadb_data/
**/mysql_data/
**/redis_data/
**/influxdb_data/
**/grafana_data/
**/letsencrypt/
**/certs/
**/ssl/
**/acme/
**/backups/

# Overrides locales
docker-compose.override.yml
docker-compose.*.override.yml
*.local.yml

# PrestaShop cache / generado
var/cache/
app/cache/
cache/
log/
logs/
img/tmp/
download/
upload/

# Dependencias (si aplican)
vendor/
node_modules/
__pycache__/
*.pyc
.venv/
