# Archivos de entorno y secretos
.env
.env.*
*.pem
*.key

# Logs
logs/
*.log

# Dependencias comunes
node_modules/
vendor/

# Cachés y temporales
var/
cache/
tmp/
*.tmp

# Archivos de IDE/OS
.vscode/
.idea/
.DS_Store

# Docker: datos persistentes locales (si los usas)
docker-data/
db_data/
